main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tabs-control{
    margin: auto;
    width: 300px;
}

.tabs-group{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.tab{
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
    line-height: 20px;
    padding: 20px;
    color: #000;
    border: 1px solid #ccc;
    /* background-color: #1dc454; */
}

.tab:hover{
    color: #ccc;
}

.tab-active{
    background-color: #1dc454;
    color: #fff;
}

.tabs-content-group{
    width: 100%;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.content{
    box-sizing: border-box;
    padding: 10px;
    display: none;
}

.content-active{
    display: block;
}