main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tabs-control{
    margin: auto;
    width: 300px;
}

.tabs-group{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.tab{
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
    line-height: 20px;
    padding: 20px;
    color: #000;
    border: 1px solid #ccc;
    /* background-color: #1dc454; */
}

.tab:hover{
    text-decoration: underline;
}

.tab-active{
    background-color: #ccc;
    color: #fff;
}

.tabs-content-group{
    width: 100%;
    box-sizing: border-box;
    overflow: hidden;
    position: relative;
}

.text-tab{
    box-sizing: border-box;
    padding: 10px;
    display: none;
    border: 1px solid #ccc;
}

.text-tab-active{
    
    top: -30px;
    display: block;
    animation-duration: 0.5s;
    animation-name: slidein;
}

@keyframes slidein {
    from {
        transform: translateY(-150px);
    }
    to {
        transform: translateY(0);
   }
  }